<Limit GET POST PUT DELETE>
  Allow from all
</Limit>

Options +FollowSymLinks
RewriteEngine On

#usual behavior for resources calls
RewriteCond %{REQUEST_URI} !/views/  [NC]
#url resolving
RewriteRule ^(.*)$ index.php [L]

